.App {
  
}

.App-logo {  
  pointer-events: none;
}

.App-header {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;  
  font-size: 14px;
  color: #3279af;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Asap Condensed', sans-serif;
}

.summary { 
  padding-top: 50px;
  width: 50% 
}

.App-link {
  color: #3279af;
}


